#escargot img {width:150px;}
#escargot {display:inline;}

#piplup img {width:100px;}
#piplup {display:inline;}

#mew img {width:100px;}
#mew {display:inline;}

#hellochild img {width:300px;}
#hellochild {display:inline;}